.App {
    text-align: center;
}

.data-area-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.iconText {
    margin: 0 .5rem;
}

.navbarStyle {
    background-color: #f8f9fa; /* Update to Bootstrap background color */
    padding: 1rem !important; /* Update padding */
    transition: background-color 0.3s ease-in-out;
}

/* .navbarButton {
    color: #ffc107 !important; 
    padding: .5rem 1rem !important;
} */

.tableColumn {
    word-break: break-all;
}

.table {
    max-height: 37rem;
}



.navbarButton {
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .navbarButton:hover {
    color: #f0ad4e; /* Change to your desired hover color */
  }
  
  .navbarButton.active {
    background-color: #f0ad4e; 
    color: #ffffff; /* Change to your desired active color */
    font-weight: bold; /* or any other style you want for the active state */
  }
  